# Exclude build files 
ART/dossier_art.*
!ART/dossier_art.pdf 
!ART/dossier_art.tex

SPORT/dossier_SPORT.*
!SPORT/dossier_sport.pdf
!SPORT/dossier_sport.pdf

MUSIQUE/dossier_musique.*
!MUSIQUE/dossier_musique.pdf
!MUSIQUE/dossier_musique.tex


.DS_Store
